@import url('../../tools/normalize.min.css');

$font-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
$clr-white: #fff;
$clr-dark: #0c181d;


*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	background-color: $clr-dark;
	font-family: $font-default;
	font-style: normal;
	font-weight: 400;
}
a {
	text-decoration: none !important;
	color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
	margin: 0;
	padding: 0;
	font-feature-settings: 'ordn' on;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
.wrapper {
	overflow: hidden;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: 0 auto;
	padding: 0;
}

.section {
	padding: clamp(16px, 3.9vw, 30px);
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: relative;
	&__content {
		margin: 0 auto;
		max-width: calc(
			clamp(900px, 67.36vw, 1280px) + clamp(16px, 3.9vw, 30px) * 2
		);
		width: 100%;
		height: 100%;
	}
}

canvas {
	border-radius: 5px;
	outline: 1px solid rgba(255, 255, 255, 0.2);
}
button {
	border-radius: 5px;
	border: none;
	position: absolute;
	transform: translate(-50%, -50%);
	cursor: pointer;
	pointer-events: visible;
	font-size: clamp(20px, 6.2vw, 62px);
	line-height: 140%;
	background: $clr-white;
	text-align: center;
	text-decoration: none;
	color: inherit;
	&:hover {
		background: rgb(228, 228, 228);
	}
}

#start {
	padding: 0 clamp(20px, 4vw, 40px);
	margin: 0;
	display: block;
	left: 50%;
	top: 50%;
}
#restart {
	padding: 0 clamp(20px, 4vw, 40px);
	margin: 0;
	display: none;
	margin-top: clamp(10px, 4vw, 50px);
	left: 50%;
	top: 53%;
}
#endGame {
	display: none;
	position: absolute;
	left: 50%;
	top: 47%;
	transform: translate(-50%, -50%);
	font-size: clamp(40px, 8vw, 80px);
	color: $clr-white;
	word-break: keep-all;
	width: 100%;
	text-align: center;
}
.controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	position: fixed;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
	width: calc(100% - clamp(16px, 3.9vw, 30px) * 2);

	img {
		display: block;
		margin: 0;
		padding: 0;
		width: 100%;
		max-width: clamp(80px, 15.625vw, 120px);
	}
	&__arrows {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: clamp(180px, 32.55vw, 250px);
		width: 100%;
	}
}
@media (max-width: 425px) {
	.controls {
		img {
			max-width: clamp(60px, 18.82vw, 80px);
		}
		&__arrows {
			max-width: clamp(140px, 42.35vw, 180px);
		}
	}
}
