@import url('../../public/tools/normalize.min.css');

:root {
	--font-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	--color-white: #fff;
	--color-dark: #0c181d;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	&:after {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	&:before {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
}

body {
	background-color: var(--color-white);
	font-family: var(--font-main);
	font-style: normal;
	font-weight: 400;
}
a {
	text-decoration: none !important;
	color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
	margin: 0;
	padding: 0;
	-webkit-font-feature-settings: 'ordn' on;
	font-feature-settings: 'ordn' on;
	-webkit-font-feature-settings: 'pnum' on, 'lnum' on;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
.wrapper {
	background-color: var(--color-dark);
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.section {
	padding: clamp(10px, 40vw, 40px) clamp(10px, 3.9vw, 30px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	position: relative;
	&__content {
		margin: 0 auto;
		max-width: calc(
			clamp(900px, 67.36vw, 1280px) + clamp(20px, 3.9vw, 30px) * 2
		);
		width: 100%;
		height: 100%;
	}
}

canvas {
	max-width: calc(clamp(900px, 67.36vw, 1280px) + clamp(20px, 3.9vw, 30px) * 2);
	width: 100%;
	border-radius: 5px;
	outline: 1px solid rgba(255, 255, 255, 0.2);
}
button {
	border-radius: 5px;
	border: none;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	cursor: pointer;
	pointer-events: visible;
	font-size: clamp(20px, 6.2vw, 62px);
	line-height: 140%;
	background: #fff;
	text-align: center;
	text-decoration: none;
	color: inherit;
	&:hover {
		background: rgb(228, 228, 228);
	}
}

#start {
	padding: 0 clamp(20px, 4vw, 40px);
	margin: 0;
	display: block;
	left: 50%;
	top: 50%;
}
#restart {
	padding: 0 clamp(20px, 4vw, 40px);
	margin: 0;
	display: none;
	margin-top: clamp(10px, 4vw, 50px);
	left: 50%;
	top: 53%;
}
#endGame {
	display: none;
	position: absolute;
	left: 50%;
	top: 47%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: clamp(40px, 8vw, 80px);
	color: #fff;
	word-break: keep-all;
	width: 100%;
	text-align: center;
}
